*.html diff=html
*.java diff=java
*.md diff=markdown
*.png diff=image
*.svg diff=image
*.exe binary
*.txt merge=text
*.jpg merge=binary
/C:\Users\Brainstormer\IdeaProjects\Task18\src\main\java\ForExampleNew\ForWork.java merge=union
